In [2]:
import pandas as pd
import numpy as np

## Salaries CSV Cleaning

In [86]:
salaries_df = pd.read_csv('player_salaries.csv')

In [4]:
#Changed em dashes to NaN

salaries_df['WARP'] = salaries_df['WARP'].replace('—',np.nan)
salaries_df['WARP/$M'] = salaries_df['WARP/$M'].replace('—',np.nan)
salaries_df['$/WARP'] = salaries_df['$/WARP'].replace('—',np.nan)

In [5]:
salaries_df.isnull().sum()

Player        0
Pos           0
Salary        0
Pct        6907
WARP       2107
WARP/$M    6907
$/WARP     6907
TEAM          0
YEAR          0
dtype: int64

In [6]:
#cleaned misaligned columns

salaries_df = salaries_df.loc[((salaries_df['Salary'] != '1.47%') & 
    (salaries_df['$/WARP'] != 'Angels') & 
    (salaries_df['$/WARP'] != 'Reds') & (salaries_df['$/WARP'] != 'Astros'))]
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [7]:
#changed columns to numeric datatypes

salaries_df['Salary'] = salaries_df['Salary'].replace('\$','',regex=True).replace(',','',regex=True).astype(int)
salaries_df['Pct'] = salaries_df['WARP/$M'].replace('%','').astype(float)
salaries_df['$/WARP'] = salaries_df['$/WARP'].replace(',','',regex=True).replace('\$','',regex=True).astype(float)
salaries_df['YEAR'] = salaries_df['YEAR'].astype(int)

In [26]:
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [99]:
#Changes unicode values to 
salaries_df['Player'] = salaries_df['Player'].replace(
    "Ã©",'e',regex=True).replace(
    "Ã¡","a",regex=True).replace(
    "Ã","a",regex=True).replace(
    "Ã¨","e",regex=True).replace(
    "Ã±","n",regex=True).replace(
    "Ãº","u",regex=True).replace(
    "Ã","i",regex=True)

In [106]:
#Prints the non-alphanumeric characters

salaries_df[['first','last','none','none2']] = salaries_df.Player.str.split(expand=True) 
for row in salaries_df.itertuples():
    try:
        if not row.first.isalnum():
            print("found: \'{}\'".format(row.first))
    except AttributeError:
        pass

found: 'J.C.'
found: 'C.J.'
found: 'C.J.'
found: 'C.J.'
found: 'C.J.'
found: 'C.J.'
found: 'C.J.'
found: 'Ji-Man'
found: 'C.J.'
found: 'Marti­n'
found: 'C.J.'
found: 'Marti­n'
found: 'Byung-Hyun'
found: 'Byung-Hyun'
found: 'Byung-Hyun'
found: 'Byung-Hyun'
found: 'J.J.'
found: 'J.J.'
found: 'Marti­n'
found: 'J.J.'
found: 'Marti­n'
found: 'J.J.'
found: 'J.J.'
found: 'T.J.'
found: 'T.J.'
found: 'B.J.'
found: 'B.J.'
found: 'J.D.'
found: 'Marti­n'
found: 'Marti­n'
found: 'Marti­n'
found: 'Jo-Jo'
found: 'Marti­n'
found: 'Marti­n'
found: 'B.J.'
found: 'B.J.'
found: 'A.J.'
found: 'A.J.'
found: 'R.A.'
found: 'A.J.'
found: 'A.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'J.J.'
found: 'J.J.'
found: 'Wei-Yin'
found: 'J.J.'
found: 'Wei-Yin'
found: 'T.J.'
found: 'J.J.'
found: 'Wei-Yin'
found: 'Suk-Min'
found: 'J.J.'
found: 'Wei-Yin'
found: 'J.J.'
found: 'T.J.'
found: 'J.J.'
found: 'Byung-Hyun'
found: 'J.T.'
found: 'J.D.'
found: 'J.C.'
found: 'J.D.'
found: 'J.D.'
found: 'J.D.'
found: 'J.D.'
found: 'A.J.'
found: 'J.D.'
found: 'J.D.'
found: 'J.D.'
found: 'Marti­n'
found: 'Tzu-Wei'
found: 'Hee-Seop'
found: 'D'Angelo'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'D.J.'
found: 'A.J.'
found: 'J.J.'
found: 'A.J.'
found: 'A.J.'
found: 'Avisai­l'
found: 'Avisai­l'
found: 'Avisai­l'
found: 'Avisai­l'
found: 'Avisai­l'
found: 'D'Angelo'
found: 'D.J.'
found: 'D'Angelo'
found: 'Shin-Soo'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'Byung-Hyun'
found: 'Chin-hui'
found: 'Byung-Hyun'
found: 'Sun-Woo'
found: 'Chin-hui'
found: 'Byung-Hyun'
found: 'C.J.'
found: 'C.J.'
found: 'Fu-Te'
found: 'Ani­bal'
found: 'Avisai­l'
found: 'Ani­bal'
found: 'Ani­bal'
found: 'J.D.'
found: 'Ani­bal'
found: 'J.D.'
found: 'Ani­bal'
found: 'J.D.'
found: 'C.J.'
found: 'J.R.'
found: 'J.R.'
found: 'J.A.'
found: 'J.R.'
found: 'J.A.'
found: 'J.D.'
found: 'J.D.'
found: 'L.J.'
found: 'J.D.'
found: 'Marti­n'
found: 'D.J.'
found: 'D.J.'
found: 'Chien-Ming'
found: 'Marti­n'
found: 'F.P.'
found: 'J.D.'
found: 'Hee-Seop'
found: 'D.J.'
found: 'J.D.'
found: 'Hung-Chih'
found: 'Hung-Chih'
found: 'Hung-Chih'
found: 'Chin-lung'
found: 'Hung-Chih'
found: 'Hung-Chih'
found: 'Hung-Chih'
found: 'A.J.'
found: 'A.J.'
found: 'J.P.'
found: 'A.J.'
found: 'J.P.'
found: 'A.J.'
found: 'J.P.'
found: 'A.J.'
found: 'J.P.'
found: 'A.J.'
found: 'Ani­bal'
found: 'Marti­n'
found: 'Wei-Yin'
found: 'Marti­n'
found: 'J.T.'
found: 'Wei-Yin'
found: 'Marti­n'
found: 'A.J.'
found: 'J.T.'
found: 'Marti­n'
found: 'Wei-Yin'
found: 'J.T.'
found: 'Wei-Yin'
found: 'Marti­n'
found: 'Wei-Yin'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'Marti­n'
found: 'Marti­n'
found: 'Wei-Chung'
found: 'Marti­n'
found: 'Marti­n'
found: 'Neftali­'
found: 'Ji-Man'
found: 'Avisai­l'
found: 'J.C.'
found: 'A.J.'
found: 'J.C.'
found: 'A.J.'
found: 'J.C.'
found: 'A.J.'
found: 'J.C.'
found: 'J.C.'
found: 'J.C.'
found: 'R.A.'
found: 'J.J.'
found: 'J.R.'
found: 'Ani­bal'
found: 'C.J.'
found: 'Marti­n'
found: 'J.J.'
found: 'J.J.'
found: 'R.A.'
found: 'R.A.'
found: 'D.J.'
found: 'Chin-lung'
found: 'R.A.'
found: 'D.J.'
found: 'T.J.'
found: 'T.J.'
found: 'J.D.'
found: 'J.D.'
found: 'Chien-Ming'
found: 'Chien-Ming'
found: 'Chien-Ming'
found: 'A.J.'
found: 'Chien-Ming'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'Marti­n'
found: 'Marti­n'
found: 'J.A.'
found: 'J.A.'
found: 'T.J.'
found: 'T.J.'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'R.J.'
found: 'R.J.'
found: 'J.B.'
found: 'T.J.'
found: 'J.B.'
found: 'A.J.'
found: 'J.C.'
found: 'J.C.'
found: 'J.A.'
found: 'J.C.'
found: 'J.A.'
found: 'J.C.'
found: 'A.J.'
found: 'B.J.'
found: 'J.P.'
found: 'Vi­ctor'
found: 'J.T.'
found: 'J.T.'
found: 'Vi­ctor'
found: 'J.J.'
found: 'T.J.'
found: 'D.J.'
found: 'A.J.'
found: 'A.J.'
found: 'A.J.'
found: 'Neftali­'
found: 'A.J.'
found: 'D'Angelo'
found: 'D'Angelo'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'A.J.'
found: 'J.T.'
found: 'J.T.'
found: 'J.T.'
found: 'J.T.'
found: 'A.J.'
found: 'J.T.'
found: 'J.T.'
found: 'Byung-Hyun'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'J.J.'
found: 'Hung-Chih'
found: 'J.A.'
found: 'Dae-Ho'
found: 'Ari­el'
found: 'J.P.'
found: 'J.D.'
found: 'D'Angelo'
found: 'J.D.'
found: 'J.D.'
found: 'J.D.'
found: 'J.C.'
found: 'Hee-Seop'
found: 'J.P.'
found: 'B.J.'
found: 'B.J.'
found: 'J.P.'
found: 'B.J.'
found: 'J.P.'
found: 'B.J.'
found: 'J.P.'
found: 'B.J.'
found: 'J.P.'
found: 'B.J.'
found: 'J.P.'
found: 'C.J.'
found: 'Avisai­l'
found: 'Ji-Man'
found: 'Ji-Man'
found: 'C.J.'
found: 'R.A.'
found: 'R.A.'
found: 'D'Angelo'
found: 'R.A.'
found: 'C.J.'
found: 'C.J.'
found: 'A.J.'
found: 'C.J.'
found: 'A.J.'
found: 'C.J.'
found: 'C.J.'
found: 'Neftali­'
found: 'C.J.'
found: 'Neftali­'
found: 'Neftali­'
found: 'A.J.'
found: 'Neftali­'
found: 'Marti­n'
found: 'Shin-Soo'
found: 'Neftali­'
found: 'J.P.'
found: 'Marti­n'
found: 'Shin-Soo'
found: 'Neftali­'
found: 'Marti­n'
found: 'Shin-Soo'
found: 'Marti­n'
found: 'Shin-Soo'
found: 'Marti­n'
found: 'A.J.'
found: 'Shin-Soo'
found: 'Marti­n'
found: 'Shin-Soo'
found: 'Shin-Soo'
found: 'B.J.'
found: 'A.J.'
found: 'A.J.'
found: 'B.J.'
found: 'A.J.'
found: 'B.J.'
found: 'B.J.'
found: 'B.J.'
found: 'Jo-Jo'
found: 'J.P.'
found: 'J.P.'
found: 'R.A.'
found: 'J.A.'
found: 'J.P.'
found: 'R.A.'
found: 'J.A.'
found: 'R.A.'
found: 'R.A.'
found: 'J.A.'
found: 'J.A.'
found: 'J.P.'
found: 'B.J.'
found: 'J.A.'
found: 'T.J.'
found: 'J.J.'
found: 'Chien-Ming'
found: 'Chien-Ming'
found: 'Chien-Ming'
found: 'A.J.'
found: 'Ani­bal'
found: 'Ani­bal'

In [108]:
salaries_df = salaries_df[['Player','Pos','Salary','Pct','WARP','WARP/$M','$/WARP','TEAM','YEAR']]
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [109]:
salaries_df.to_csv('csvs/player_salaries.csv',index=False)

## STAT CSV CLEANING

In [ ]:
pitching_df = pd.read_csv('apis/pitching.csv')

In [17]:
#cleaned out the no value symbol used in the stat api

pitching_df['whip'] = pitching_df['whip'].replace('-.--',0)
pitching_df['pitchesPerInning'] = pitching_df['pitchesPerInning'].replace('-.--',0)
pitching_df['strikeoutsPer9Inn'] = pitching_df['strikeoutsPer9Inn'].replace('-.--',0)
pitching_df['walksPer9Inn'] = pitching_df['walksPer9Inn'].replace('-.--',0)
pitching_df['runsScoredPer9'] = pitching_df['runsScoredPer9'].replace('-.--',0)

pitching_df.to_csv('csvs/pitching.csv',index=False)

In [6]:
#Regex Pattern matched cities and extra whitespace in team_name column
#replaced them with empty strings to only have the team name
#cleaned because team name is a primary key to join player salary data with stat data
            #Regex replaced everything except the first row
            #so I just deleted 'Anaheim' directly out of the csv...

stats_df = pd.read_csv('csvs/player_stats.csv')
stats_df['team_name'] = stats_df['team_name'].replace(np.nan,' ')

regex_replace = r'/Anaheim |Los Angeles |Arizona |Baltimore |Boston |Chicago |Cincinnati |Cleveland |Colorado |Detroit |Houston |Kansas City |Washington |Montreal |New York |Oakland |Pittsburgh |San Diego |St. Louis |Seattle |San Francisco |Tampa Bay Devil |Tampa Bay |Texas |Toronto |Minnesota |Philadelphia |Atlanta |Chicago |Florida |Miami |Milwaukee '

stats_df['team_name'] = stats_df['team_name'].str.replace(regex_replace,'')

stats_df
stats_df.to_csv('csvs/player_stats.csv')

C:\Users\taher\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\taher\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':

In [5]:
stats_df['team_name'].unique()

array(['Anaheim Angels', 'Angels', 'Diamondbacks', 'Orioles', 'Red Sox',
       'Cubs', 'Reds', 'Indians', 'Rockies', 'Tigers', 'Astros', 'Royals',
       'Dodgers', 'Nationals', 'Expos', 'Mets', 'Athletics', 'Pirates',
       'Padres', 'Mariners', 'Giants', 'Cardinals', 'Rays', 'Rangers',
       'Blue Jays', 'Twins', 'Phillies', 'Braves', 'White Sox', 'Marlins',
       'Yankees', 'Brewers', ' '], dtype=object)