In [1]:
import pandas as pd
import numpy as np

## Salaries CSV Cleaning

In [86]:
salaries_df = pd.read_csv('player_salaries.csv')

In [4]:
#Changed em dashes to NaN

salaries_df['WARP'] = salaries_df['WARP'].replace('—',np.nan)
salaries_df['WARP/$M'] = salaries_df['WARP/$M'].replace('—',np.nan)
salaries_df['$/WARP'] = salaries_df['$/WARP'].replace('—',np.nan)

In [5]:
salaries_df.isnull().sum()

Player        0
Pos           0
Salary        0
Pct        6907
WARP       2107
WARP/$M    6907
$/WARP     6907
TEAM          0
YEAR          0
dtype: int64

In [6]:
#cleaned misaligned columns

salaries_df = salaries_df.loc[((salaries_df['Salary'] != '1.47%') & 
    (salaries_df['$/WARP'] != 'Angels') & 
    (salaries_df['$/WARP'] != 'Reds') & (salaries_df['$/WARP'] != 'Astros'))]
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [7]:
#changed columns to numeric datatypes

salaries_df['Salary'] = salaries_df['Salary'].replace('\$','',regex=True).replace(',','',regex=True).astype(int)
salaries_df['Pct'] = salaries_df['WARP/$M'].replace('%','').astype(float)
salaries_df['$/WARP'] = salaries_df['$/WARP'].replace(',','',regex=True).replace('\$','',regex=True).astype(float)
salaries_df['YEAR'] = salaries_df['YEAR'].astype(int)

In [26]:
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [99]:
#Changes unicode values to 
salaries_df['Player'] = salaries_df['Player'].replace(
    "Ã©",'e',regex=True).replace(
    "Ã¡","a",regex=True).replace(
    "Ã","a",regex=True).replace(
    "Ã¨","e",regex=True).replace(
    "Ã±","n",regex=True).replace(
    "Ãº","u",regex=True).replace(
    "Ã","i",regex=True)

In [ ]:
#Prints the non-alphanumeric characters

salaries_df[['first','last','none','none2']] = salaries_df.Player.str.split(expand=True) 
for row in salaries_df.itertuples():
    try:
        if not row.first.isalnum():
            print("found: \'{}\'".format(row.first))
    except AttributeError:
        pass

In [108]:
salaries_df = salaries_df[['Player','Pos','Salary','Pct','WARP','WARP/$M','$/WARP','TEAM','YEAR']]
salaries_df

,Player,Pos,Salary,Pct,WARP,WARP/$M,$/WARP,TEAM,YEAR
0,Mo Vaughn,1B,11166667,0.16,1.84,0.16,6070787.0,Angels,2000
1,Tim Salmon,RF,6000000,1.01,6.05,1.01,991179.0,Angels,2000
2,Ken Hill,RP,5600000,NaN,-1.40,NaN,NaN,Angels,2000
3,Tim Belcher,RP,4600000,NaN,-0.19,NaN,NaN,Angels,2000
4,Kent Bottenfield,RP,4000000,NaN,-0.14,NaN,NaN,Angels,2000
...,...,...,...,...,...,...,...,...,...
17888,Tanner Rainey,DNP,572200,NaN,NaN,NaN,NaN,Nationals,2020
17889,Austin Voth,DNP,568900,NaN,NaN,NaN,NaN,Nationals,2020
17890,Austen Williams,DNP,565100,NaN,NaN,NaN,NaN,Nationals,2020
17891,Carter Kieboom,DNP,564700,NaN,NaN,NaN,NaN,Nationals,2020
17892,Hunter Strickland,DNP,387097,NaN,NaN,NaN,NaN,Nationals,2020

In [109]:
salaries_df.to_csv('csvs/player_salaries.csv',index=False)

## STAT CSV CLEANING

In [ ]:
pitching_df = pd.read_csv('apis/pitching.csv')

In [17]:
#cleaned out the no value symbol used in the stat api

pitching_df['whip'] = pitching_df['whip'].replace('-.--',0)
pitching_df['pitchesPerInning'] = pitching_df['pitchesPerInning'].replace('-.--',0)
pitching_df['strikeoutsPer9Inn'] = pitching_df['strikeoutsPer9Inn'].replace('-.--',0)
pitching_df['walksPer9Inn'] = pitching_df['walksPer9Inn'].replace('-.--',0)
pitching_df['runsScoredPer9'] = pitching_df['runsScoredPer9'].replace('-.--',0)

pitching_df.to_csv('csvs/pitching.csv',index=False)

In [10]:
#Regex Pattern matched cities and extra whitespace in team_name column
#replaced them with empty strings to only have the team name
#cleaned because team name is a primary key to join player salary data with stat data
            #Regex replaced everything except the first row
            #so I just deleted 'Anaheim' directly out of the csv...

stats_df = pd.read_csv('csvs/player_stats.csv')
stats_df['team_name'] = stats_df['team_name'].replace(np.nan,' ')

regex_replace = r'/Anaheim |Los Angeles |Arizona |Baltimore |Boston |Chicago |Cincinnati |Cleveland |Colorado |Detroit |Houston |Kansas City |Washington |Montreal |New York |Oakland |Pittsburgh |San Diego |St. Louis |Seattle |San Francisco |Tampa Bay Devil |Tampa Bay |Texas |Toronto |Minnesota |Philadelphia |Atlanta |Chicago |Florida |Miami |Milwaukee '

stats_df['team_name'] = stats_df['team_name'].str.replace(regex_replace,'')


stats_df.to_csv('csvs/player_stats.csv', index=False)
stats_df

C:\Users\taher\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\taher\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':

,season,full_name,team_id,player_id,team_name,pos,assists,putouts,errors,chances,...,wild_pitches,pickoffs,pitched_total_bases,pitches_per_inning,games_finished,walks_per_9_inn,inherited_runners,inherited_runners_scored,pitched_sac_bunts,pitched_sac_flies
0,2000.0,Darin Erstad,108.0,113889.0,Angels,LF,0.0,5.0,0.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021.0,Mike Trout,108.0,545361.0,Angels,CF,0.0,53.0,0.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,Patrick Sandoval,108.0,663776.0,Angels,P,7.0,3.0,0.0,10.0,...,3.0,0.0,112.0,16.6,2.0,3.72,4.0,0.0,0.0,2.0
3,2021.0,Jose Rojas,108.0,670351.0,Angels,RF,2.0,38.0,0.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,Jose Rojas,108.0,670351.0,Angels,RF,0.0,6.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44040,NaN,NaN,NaN,NaN,,3B,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44041,NaN,NaN,NaN,NaN,,P,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44042,NaN,NaN,NaN,NaN,,P,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44043,NaN,NaN,NaN,NaN,,P,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44044,NaN,NaN,NaN,NaN,,P,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stats_df['team_name'].unique()

array(['Anaheim Angels', 'Angels', 'Diamondbacks', 'Orioles', 'Red Sox',
       'Cubs', 'Reds', 'Indians', 'Rockies', 'Tigers', 'Astros', 'Royals',
       'Dodgers', 'Nationals', 'Expos', 'Mets', 'Athletics', 'Pirates',
       'Padres', 'Mariners', 'Giants', 'Cardinals', 'Rays', 'Rangers',
       'Blue Jays', 'Twins', 'Phillies', 'Braves', 'White Sox', 'Marlins',
       'Yankees', 'Brewers', ' '], dtype=object)

In [2]:
complete_df = pd.read_csv('csvs/completed_stats.csv')
complete_df

,player_id,player,pos,team_id,team_name,season,salary,pct,warp,warpmil,...,wild_pitches,pickoffs,pitched_total_bases,pitches_per_inning,games_finished,walks_per_9_inn,inherited_runners,inherited_runners_scored,pitched_sac_bunts,pitched_sac_flies
0,110011,Kurt Abbott,PH,144,Braves,2001,600000,NaN,-0.06,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
1,110011,Kurt Abbott,SS,121,Mets,2000,500000,NaN,-0.18,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
2,110015,Paul Abbott,RP,136,Mariners,2000,285000,4.25,1.21,4.25,...,3.0,0.0,273.0,16.170,2.0,4.02,5.0,3.0,1.0,4.0
3,110015,Paul Abbott,RP,136,Mariners,2001,1700000,0.11,0.19,0.11,...,11.0,0.0,248.0,16.820,0.0,4.80,0.0,0.0,3.0,5.0
4,110015,Paul Abbott,RP,143,Phillies,2004,600000,NaN,-1.37,NaN,...,6.0,1.0,191.0,17.275,0.0,10.86,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11337,669456,Shane Bieber,SP,114,Indians,2019,559600,8.29,4.64,8.29,...,6.0,2.0,318.0,15.550,1.0,1.68,0.0,0.0,2.0,1.0
11338,669738,Jake Noll,PH,120,Nationals,2019,555000,NaN,-0.07,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
11339,670036,Matthew Festa,RP,136,Mariners,2019,555500,NaN,-0.05,NaN,...,1.0,0.0,44.0,18.220,10.0,4.84,5.0,2.0,1.0,2.0
11340,672773,Elvis Luciano,RP,141,Blue Jays,2019,555000,NaN,-1.19,NaN,...,4.0,0.0,59.0,18.860,9.0,6.42,14.0,2.0,0.0,1.0
11341,673633,Yoshihisa Hirano,RP,109,Diamondbacks,2018,3000000,0.13,0.39,0.13,...,6.0,0.0,78.0,16.580,10.0,3.12,30.0,5.0,1.0,1.0

In [15]:
complete_df = pd.read_csv('csvs/completed_stats.csv')

#after merging all stats and player salaries, there were no "duplicated columns", but there were many broken up rows with different stats for the same player in a season
#grouped by the salary dataset, then used .agg and np.sum on each stat column to sum/average stats together to consolidate the broken up rows while keeping salary data constant
 
complete_df = complete_df.groupby(['player_id','player','pos','team_id','team_name','season'],as_index=False).agg({'salary':'first','pct':'first','warp':'first','warpmil':'first',
                'dollarwarp':'first','assists': np.sum,'putouts': np.sum, 'errors': np.sum, 'chances': np.sum, 'fielding': np.sum, 'innings': np.sum, 'games': np.sum, 'games_started': np.sum,
                'double_plays': np.sum,'triple_plays':np.sum, 'throwing_errors': np.sum, 'ground_outs': np.sum, 'air_outs': np.sum,
                'runs': np.sum, 'doubles': np.sum, 'triples': np.sum, 'home_runs': np.sum, 'strike_outs': np.sum, 'base_on_balls': np.sum,
                'intentional_walks': np.sum, 'average': np.mean, 'at_bats': np.sum, 'obp': np.mean, 'slg': np.mean,
                'ops': np.mean, 'stolen_bases': np.sum, 'caught_stealing': np.sum, 'ground_into_double_play': np.sum,
                'number_of_pitches': np.sum, 'plate_appearances': np.sum, 'total_bases': np.sum, 'rbi': np.sum, 'left_on_base': np.sum,
                'sac_bunts': np.sum, 'sac_flies': np.sum, 'pitched_ground_outs': np.sum, 'pitched_air_outs': np.sum, 'pitched_runs': np.sum,
                'pitched_doubles': np.sum, 'pitched_triples': np.sum, 'pitched_home_runs': np.sum, 'pitched_strike_outs': np.sum, 
                'pitched_base_on_balls': np.sum, 'pitched_intentional_walks': np.sum, 'pitched_hits': np.sum, 'pitcher_average': np.mean,
                'saves': np.sum, 'save_opportunities': np.sum, 'holds': np.sum, 'blown_saves': np.sum,'earned_runs':np.sum, 'whip': np.mean, 
                'batters_faced': np.sum, 'outs': np.sum, 'games_pitched': np.sum, 'complete_games': np.sum, 'shutouts': np.sum, 
                'pitcher_strikes': np.sum, 'hit_batsmen': np.sum, 'balks': np.sum, 'wild_pitches': np.sum, 'pickoffs': np.sum, 
                'pitched_total_bases': np.sum, 'pitches_per_inning': np.mean,'games_finished': np.sum, 'walks_per_9_inn': np.sum, 
                'inherited_runners': np.sum, 'inherited_runners_scored': np.sum, 'pitched_sac_bunts': np.sum, 'pitched_sac_flies': np.sum
                    })

complete_df.to_csv('csvs/completed_stats.csv',index=False)

In [16]:
complete_df

,player_id,player,team_id,team_name,season,salary,pct,warp,warpmil,dollarwarp,...,wild_pitches,pickoffs,pitched_total_bases,pitches_per_inning,games_finished,walks_per_9_inn,inherited_runners,inherited_runners_scored,pitched_sac_bunts,pitched_sac_flies
0,110011,Kurt Abbott,121,Mets,2000,500000,NaN,-0.18,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
1,110011,Kurt Abbott,144,Braves,2001,600000,NaN,-0.06,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
2,110015,Paul Abbott,136,Mariners,2000,285000,4.25,1.21,4.25,235467.0,...,3.0,0.0,273.0,16.170,2.0,4.02,5.0,3.0,1.0,4.0
3,110015,Paul Abbott,136,Mariners,2001,1700000,0.11,0.19,0.11,8831719.0,...,11.0,0.0,248.0,16.820,0.0,4.80,0.0,0.0,3.0,5.0
4,110015,Paul Abbott,143,Phillies,2004,600000,NaN,-1.37,NaN,NaN,...,6.0,1.0,191.0,17.275,0.0,10.86,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11337,669456,Shane Bieber,114,Indians,2019,559600,8.29,4.64,8.29,120639.0,...,6.0,2.0,318.0,15.550,1.0,1.68,0.0,0.0,2.0,1.0
11338,669738,Jake Noll,120,Nationals,2019,555000,NaN,-0.07,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,0.00,0.0,0.0,0.0,0.0
11339,670036,Matthew Festa,136,Mariners,2019,555500,NaN,-0.05,NaN,NaN,...,1.0,0.0,44.0,18.220,10.0,4.84,5.0,2.0,1.0,2.0
11340,672773,Elvis Luciano,141,Blue Jays,2019,555000,NaN,-1.19,NaN,NaN,...,4.0,0.0,59.0,18.860,9.0,6.42,14.0,2.0,0.0,1.0
11341,673633,Yoshihisa Hirano,109,Diamondbacks,2018,3000000,0.13,0.39,0.13,7671869.0,...,6.0,0.0,78.0,16.580,10.0,3.12,30.0,5.0,1.0,1.0