In [1]:
!pip install typeguard
!pip install plotly

Requirement already satisfied: typeguard in c:\users\william\anaconda3\lib\site-packages (2.13.3)
Requirement already satisfied: plotly in c:\users\william\anaconda3\lib\site-packages (5.6.0)
Requirement already satisfied: six in c:\users\william\anaconda3\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\william\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [2]:
## Clustering MLB Data

In [3]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sqlalchemy import create_engine
from config import db_password
import time

In [4]:
# Load the dataset.
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/mlb-db"

In [5]:


file = './Resources/player_salary.csv'
baseball_df = pd.read_csv(file, index_col=0)
baseball_df.head(10)

,pos,salary,pct,warp,warpmil,dollarwarp,team,year
player,,,,,,,,
Mo Vaughn,1B,"$11,166,667",21.70%,1.84,0.16,"$6,070,787",Angels,2000.0
Tim Salmon,RF,"$6,000,000",11.66%,6.05,1.01,"$991,179",Angels,2000.0
Ken Hill,RP,"$5,600,000",10.88%,-1.4,—,—,Angels,2000.0
Tim Belcher,RP,"$4,600,000",8.94%,-0.19,—,—,Angels,2000.0
Kent Bottenfield,RP,"$4,000,000",7.77%,-0.14,—,—,Angels,2000.0
Garret Anderson,CF,"$3,250,000",6.32%,2.1,0.65,"$1,550,232",Angels,2000.0
Gary DiSarcina,SS,"$3,225,000",6.27%,0.68,0.21,"$4,731,167",Angels,2000.0
Darin Erstad,LF,"$2,500,000",4.86%,9.92,3.97,"$252,075",Angels,2000.0
Troy Percival,RP,"$2,350,000",4.57%,0.84,0.36,"$2,792,762",Angels,2000.0
Mark Petkovsek,RP,"$1,512,500",2.94%,0.48,0.32,"$3,169,265",Angels,2000.0

In [ ]:
team_salary = pd.DataFrame(baseball_df['player', 'salary'])

team_salary.head()

In [ ]:
# Drop the player and salary column

baseball_df = baseball_df.drop(['player', 'salary'],axis=1)

baseball_df.head()

In [ ]:
# Create dummies variables for all of the text features (), and store the resulting data on a DataFrame named X.

X = pd.get_dummies(baseball_df, columns=[])

X.head()

In [ ]:
# Standardize data using StandardScaler

X = StandardScaler().fit_transform(X)

X

In [ ]:
# Initialize PCA to 3 components

pca = PCA(n_components=3)

X_pca = pca.fit_transform(X)

In [ ]:
# create pcs_df

pca_df = pd.DataFrame(data=X_pca, columns = ["PC 1", "PC 2", "PC 3"], index = baseball_df.index)

pca_df.head()

In [ ]:
# Create empty inertia list and range of K values to test (copied from module)
inertia = []
k = list(range(1, 11))

# Loop through each K value, find inertia, and store in list
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(pca_df)
    inertia.append(km.inertia_)

In [ ]:
# plot the Elbow Curve using hvPlot (copied from module)

elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", title="Elbow Curve", xticks=k)

In [ ]:
model = KMeans(n_clusters=5, random_state=5)

model.fit(pca_df)

In [ ]:
predictions = model.predict(pca_df)

In [ ]:
# create clustered_df

clustered_df = pd.DataFrame(data = baseball_df, index = baseball_df.index) 
clustered_df["PC 1"] = pca_df["PC 1"]
clustered_df["PC 2"] = pca_df["PC 2"]
clustered_df["PC 3"] = pca_df["PC 3"]
clustered_df[""] = coins_name[""] 
clustered_df[""] = model.labels_

clustered_df.head()

In [ ]:
fig1 = px.scatter_3d(
    clustered_df,
    x="PC 1",
    y="PC 2",
    z="PC 3",
    color="Class",
    symbol="Class",
    hover_name="",
    hover_data=[""])
fig1.update_layout(legend=dict(x=0,y=1))
fig1.show()

In [ ]:
# Use hvplot.table to create a data table
clustered_df.hvplot.table(columns=[''])

In [ ]:
clustered_df.hvplot.scatter(
    x="",
    y="",
    by="",
    hover_cols=[""],
    frame_height=2500,
    frame_width=750)